Backend/services/soap/api/src/main/resources/FolderTemplate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://foldertemplate.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://foldertemplate.webservices.edu_sharing.org" xmlns:intf="http://foldertemplate.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://foldertemplate.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="process">
    <complexType>
     <sequence>
      <element name="template" type="xsd:string"/>
      <element name="group" type="xsd:string"/>
      <element name="folderid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="processResponse">
    <complexType>
     <sequence>
      <element name="processReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="processRequest">

      <wsdl:part element="impl:process" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="processResponse">

      <wsdl:part element="impl:processResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="FolderTemplate">

      <wsdl:operation name="process">

         <wsdl:input message="impl:processRequest" name="processRequest"/>

         <wsdl:output message="impl:processResponse" name="processResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FolderTemplateSoapBinding" type="impl:FolderTemplate">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="process">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="processRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="processResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FolderTemplateService">

      <wsdl:port binding="impl:FolderTemplateSoapBinding" name="FolderTemplate">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/FolderTemplate"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
