Backend/services/soap/api/src/main/resources/RenderInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://render.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://render.webservices.edu_sharing.org" xmlns:intf="http://render.webservices.edu_sharing.org" xmlns:tns2="http://types.webservices.edu_sharing.org" xmlns:tns3="http://usage.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://render.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://usage.webservices.edu_sharing.org"/>
   <import namespace="http://types.webservices.edu_sharing.org"/>
   <element name="getRenderInfoRepo">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="nodeId" type="xsd:string"/>
      <element name="version" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRenderInfoRepoResponse">
    <complexType>
     <sequence>
      <element name="getRenderInfoRepoReturn" type="impl:RenderInfoResult"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_KeyValue">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:KeyValue"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns2_Child">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns2:Child"/>
    </sequence>
   </complexType>
   <complexType name="RenderInfoResult">
    <sequence>
     <element name="aspects" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="children" nillable="true" type="impl:ArrayOf_tns2_Child"/>
     <element name="contentHash" type="xsd:int"/>
     <element name="eduSchoolPrimaryAffiliation" nillable="true" type="xsd:string"/>
     <element name="guestReadAllowed" nillable="true" type="xsd:boolean"/>
     <element name="hasContentLicense" nillable="true" type="xsd:boolean"/>
     <element name="iconUrl" nillable="true" type="xsd:string"/>
     <element name="labels" nillable="true" type="impl:ArrayOf_tns2_KeyValue"/>
     <element name="mdsTemplate" nillable="true" type="xsd:string"/>
     <element name="mimeTypeUrl" nillable="true" type="xsd:string"/>
     <element name="permissions" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="previewUrl" nillable="true" type="xsd:string"/>
     <element name="properties" nillable="true" type="impl:ArrayOf_tns2_KeyValue"/>
     <element name="propertiesToolInstance" nillable="true" type="impl:ArrayOf_tns2_KeyValue"/>
     <element name="publishRight" nillable="true" type="xsd:boolean"/>
     <element name="remoteRoles" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="usage" nillable="true" type="tns3:UsageResult"/>
     <element name="userReadAllowed" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <element name="getRenderInfoLMS">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="nodeId" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
      <element name="version" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRenderInfoLMSResponse">
    <complexType>
     <sequence>
      <element name="getRenderInfoLMSReturn" type="impl:RenderInfoResult"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://types.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://usage.webservices.edu_sharing.org"/>
   <import namespace="http://render.webservices.edu_sharing.org"/>
   <complexType name="KeyValue">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Child">
    <sequence>
     <element name="aspects" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="iconUrl" nillable="true" type="xsd:string"/>
     <element name="previewUrl" nillable="true" type="xsd:string"/>
     <element name="properties" nillable="true" type="impl:ArrayOf_tns2_KeyValue"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://usage.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://render.webservices.edu_sharing.org"/>
   <import namespace="http://types.webservices.edu_sharing.org"/>
   <complexType name="UsageResult">
    <sequence>
     <element name="appUser" nillable="true" type="xsd:string"/>
     <element name="appUserMail" nillable="true" type="xsd:string"/>
     <element name="courseId" nillable="true" type="xsd:string"/>
     <element name="distinctPersons" nillable="true" type="xsd:int"/>
     <element name="fromUsed" nillable="true" type="xsd:dateTime"/>
     <element name="lmsId" nillable="true" type="xsd:string"/>
     <element name="nodeId" nillable="true" type="xsd:string"/>
     <element name="parentNodeId" nillable="true" type="xsd:string"/>
     <element name="resourceId" nillable="true" type="xsd:string"/>
     <element name="toUsed" nillable="true" type="xsd:dateTime"/>
     <element name="usageCounter" nillable="true" type="xsd:int"/>
     <element name="usageVersion" nillable="true" type="xsd:string"/>
     <element name="usageXmlParams" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRenderInfoRepoResponse">

      <wsdl:part element="impl:getRenderInfoRepoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRenderInfoRepoRequest">

      <wsdl:part element="impl:getRenderInfoRepo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRenderInfoLMSRequest">

      <wsdl:part element="impl:getRenderInfoLMS" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getRenderInfoLMSResponse">

      <wsdl:part element="impl:getRenderInfoLMSResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="RenderInfo">

      <wsdl:operation name="getRenderInfoRepo">

         <wsdl:input message="impl:getRenderInfoRepoRequest" name="getRenderInfoRepoRequest"/>

         <wsdl:output message="impl:getRenderInfoRepoResponse" name="getRenderInfoRepoResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getRenderInfoLMS">

         <wsdl:input message="impl:getRenderInfoLMSRequest" name="getRenderInfoLMSRequest"/>

         <wsdl:output message="impl:getRenderInfoLMSResponse" name="getRenderInfoLMSResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RenderInfoSoapBinding" type="impl:RenderInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRenderInfoRepo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRenderInfoRepoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRenderInfoRepoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRenderInfoLMS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRenderInfoLMSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRenderInfoLMSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RenderInfoService">

      <wsdl:port binding="impl:RenderInfoSoapBinding" name="RenderInfo">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/RenderInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
