Backend/services/soap/api/src/main/resources/tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tracking.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tracking.webservices.edu_sharing.org" xmlns:intf="http://tracking.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://tracking.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="trackEvent">
    <complexType>
     <sequence>
      <element name="event" type="impl:TrackingItem"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="TrackingItemContext">
    <sequence>
     <element name="key" type="xsd:string"/>
     <element name="value" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfTrackingItemContext">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="items" type="impl:TrackingItemContext"/>
    </sequence>
   </complexType>
   <complexType name="TrackingItem">
    <sequence>
     <element name="activity" type="xsd:string"/>
     <element name="applicationId" type="xsd:string"/>
     <element name="context" type="impl:ArrayOfTrackingItemContext"/>
     <element name="place" type="xsd:string"/>
     <element name="session" type="xsd:string"/>
     <element name="time" type="xsd:long"/>
     <element name="version" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="trackEventResponse">
    <complexType/>
   </element>
   <complexType name="TrackingException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:TrackingException"/>
   <element name="trackEvents">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="events" type="impl:TrackingItem"/>
     </sequence>
    </complexType>
   </element>
   <element name="trackEventsResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="trackEventRequest">

      <wsdl:part element="impl:trackEvent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackEventsRequest">

      <wsdl:part element="impl:trackEvents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackEventsResponse">

      <wsdl:part element="impl:trackEventsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackEventResponse">

      <wsdl:part element="impl:trackEventResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="TrackingException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Tracking">

      <wsdl:operation name="trackEvent">

         <wsdl:input message="impl:trackEventRequest" name="trackEventRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackEventResponse" name="trackEventResponse">

       </wsdl:output>

         <wsdl:fault message="impl:TrackingException" name="TrackingException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="trackEvents">

         <wsdl:input message="impl:trackEventsRequest" name="trackEventsRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackEventsResponse" name="trackEventsResponse">

       </wsdl:output>

         <wsdl:fault message="impl:TrackingException" name="TrackingException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrackingSoapBinding" type="impl:Tracking">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="trackEvent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackEventRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="trackEventResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="TrackingException">

            <wsdlsoap:fault name="TrackingException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="trackEvents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackEventsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="trackEventsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="TrackingException">

            <wsdlsoap:fault name="TrackingException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrackingService">

      <wsdl:port binding="impl:TrackingSoapBinding" name="Tracking">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing-analytics/services/Tracking"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
