Backend/services/soap/api/src/main/resources/usage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://usage.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://usage.webservices.edu_sharing.org" xmlns:intf="http://usage.webservices.edu_sharing.org" xmlns:tns2="http://authentication.webservices.edu_sharing.org" xmlns:tns3="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://usage.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <import namespace="http://authentication.webservices.edu_sharing.org"/>
   <element name="deleteUsage">
    <complexType>
     <sequence>
      <element name="repositoryTicket" type="xsd:string"/>
      <element name="repositoryUsername" type="xsd:string"/>
      <element name="appSessionId" type="xsd:string"/>
      <element name="appCurrentUserId" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="parentNodeId" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUsageResponse">
    <complexType>
     <sequence>
      <element name="deleteUsageReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UsageException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:UsageException"/>
   <element name="fault1" type="tns2:AuthenticationException"/>
   <element name="getUsage">
    <complexType>
     <sequence>
      <element name="repositoryTicket" type="xsd:string"/>
      <element name="repositoryUsername" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="parentNodeId" type="xsd:string"/>
      <element name="appUser" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsageResponse">
    <complexType>
     <sequence>
      <element name="getUsageReturn" type="impl:UsageResult"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="UsageResult">
    <sequence>
     <element name="appUser" nillable="true" type="xsd:string"/>
     <element name="appUserMail" nillable="true" type="xsd:string"/>
     <element name="courseId" nillable="true" type="xsd:string"/>
     <element name="distinctPersons" nillable="true" type="xsd:int"/>
     <element name="fromUsed" nillable="true" type="xsd:dateTime"/>
     <element name="lmsId" nillable="true" type="xsd:string"/>
     <element name="nodeId" nillable="true" type="xsd:string"/>
     <element name="parentNodeId" nillable="true" type="xsd:string"/>
     <element name="resourceId" nillable="true" type="xsd:string"/>
     <element name="toUsed" nillable="true" type="xsd:dateTime"/>
     <element name="usageCounter" nillable="true" type="xsd:int"/>
     <element name="usageVersion" nillable="true" type="xsd:string"/>
     <element name="usageXmlParams" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deleteUsages">
    <complexType>
     <sequence>
      <element name="repositoryTicket" type="xsd:string"/>
      <element name="repositoryUsername" type="xsd:string"/>
      <element name="appSessionId" type="xsd:string"/>
      <element name="appCurrentUserId" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUsagesResponse">
    <complexType>
     <sequence>
      <element name="deleteUsagesReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="usageAllowed">
    <complexType>
     <sequence>
      <element name="repositoryTicket" type="xsd:string"/>
      <element name="repositoryUsername" type="xsd:string"/>
      <element name="nodeId" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="usageAllowedResponse">
    <complexType>
     <sequence>
      <element name="usageAllowedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="setUsage">
    <complexType>
     <sequence>
      <element name="repositoryTicket" type="xsd:string"/>
      <element name="repositoryUsername" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="parentNodeId" type="xsd:string"/>
      <element name="appUser" type="xsd:string"/>
      <element name="appUserMail" type="xsd:string"/>
      <element name="fromUsed" type="xsd:dateTime"/>
      <element name="toUsed" type="xsd:dateTime"/>
      <element name="distinctPersons" type="xsd:int"/>
      <element name="version" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
      <element name="xmlParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setUsageResponse">
    <complexType/>
   </element>
   <element name="getUsageByParentNodeId">
    <complexType>
     <sequence>
      <element name="repositoryTicket" type="xsd:string"/>
      <element name="repositoryUsername" type="xsd:string"/>
      <element name="parentNodeId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsageByParentNodeIdResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsageByParentNodeIdReturn" type="impl:UsageResult"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://authentication.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://usage.webservices.edu_sharing.org"/>
   <import namespace="http://lang.java"/>
   <complexType name="AuthenticationException">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUsageRequest">

      <wsdl:part element="impl:getUsage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="usageAllowedResponse">

      <wsdl:part element="impl:usageAllowedResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsageResponse">

      <wsdl:part element="impl:getUsageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deleteUsagesResponse">

      <wsdl:part element="impl:deleteUsagesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsageByParentNodeIdRequest">

      <wsdl:part element="impl:getUsageByParentNodeId" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsageByParentNodeIdResponse">

      <wsdl:part element="impl:getUsageByParentNodeIdResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setUsageRequest">

      <wsdl:part element="impl:setUsage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="usageAllowedRequest">

      <wsdl:part element="impl:usageAllowed" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setUsageResponse">

      <wsdl:part element="impl:setUsageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deleteUsageRequest">

      <wsdl:part element="impl:deleteUsage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="AuthenticationException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="deleteUsageResponse">

      <wsdl:part element="impl:deleteUsageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deleteUsagesRequest">

      <wsdl:part element="impl:deleteUsages" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UsageException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="Usage">

      <wsdl:operation name="deleteUsage">

         <wsdl:input message="impl:deleteUsageRequest" name="deleteUsageRequest"/>

         <wsdl:output message="impl:deleteUsageResponse" name="deleteUsageResponse"/>

         <wsdl:fault message="impl:UsageException" name="UsageException"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUsage">

         <wsdl:input message="impl:getUsageRequest" name="getUsageRequest"/>

         <wsdl:output message="impl:getUsageResponse" name="getUsageResponse"/>

         <wsdl:fault message="impl:UsageException" name="UsageException"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="deleteUsages">

         <wsdl:input message="impl:deleteUsagesRequest" name="deleteUsagesRequest"/>

         <wsdl:output message="impl:deleteUsagesResponse" name="deleteUsagesResponse"/>

         <wsdl:fault message="impl:UsageException" name="UsageException"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="usageAllowed">

         <wsdl:input message="impl:usageAllowedRequest" name="usageAllowedRequest"/>

         <wsdl:output message="impl:usageAllowedResponse" name="usageAllowedResponse"/>

         <wsdl:fault message="impl:UsageException" name="UsageException"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="setUsage">

         <wsdl:input message="impl:setUsageRequest" name="setUsageRequest"/>

         <wsdl:output message="impl:setUsageResponse" name="setUsageResponse"/>

         <wsdl:fault message="impl:UsageException" name="UsageException"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="getUsageByParentNodeId">

         <wsdl:input message="impl:getUsageByParentNodeIdRequest" name="getUsageByParentNodeIdRequest"/>

         <wsdl:output message="impl:getUsageByParentNodeIdResponse" name="getUsageByParentNodeIdResponse"/>

         <wsdl:fault message="impl:UsageException" name="UsageException"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="usageSoapBinding" type="impl:Usage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteUsage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UsageException">

            <wsdlsoap:fault name="UsageException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUsage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UsageException">

            <wsdlsoap:fault name="UsageException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteUsages">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUsagesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUsagesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UsageException">

            <wsdlsoap:fault name="UsageException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="usageAllowed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usageAllowedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usageAllowedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UsageException">

            <wsdlsoap:fault name="UsageException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUsage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UsageException">

            <wsdlsoap:fault name="UsageException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUsageByParentNodeId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsageByParentNodeIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsageByParentNodeIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UsageException">

            <wsdlsoap:fault name="UsageException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UsageService">

      <wsdl:port binding="impl:usageSoapBinding" name="usage">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/usage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
