Backend/services/soap/api/src/main/resources/usage2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://usage2.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://usage2.webservices.edu_sharing.org" xmlns:intf="http://usage2.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://usage2.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUsagesByEduRef">
    <complexType>
     <sequence>
      <element name="eduRef" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsagesByEduRefResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsagesByEduRefReturn" type="impl:Usage2Result"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Usage2Result">
    <sequence>
     <element name="appUser" nillable="true" type="xsd:string"/>
     <element name="appUserMail" nillable="true" type="xsd:string"/>
     <element name="courseId" nillable="true" type="xsd:string"/>
     <element name="distinctPersons" nillable="true" type="xsd:int"/>
     <element name="fromUsed" nillable="true" type="xsd:dateTime"/>
     <element name="lmsId" nillable="true" type="xsd:string"/>
     <element name="nodeId" nillable="true" type="xsd:string"/>
     <element name="parentNodeId" nillable="true" type="xsd:string"/>
     <element name="resourceId" nillable="true" type="xsd:string"/>
     <element name="toUsed" nillable="true" type="xsd:dateTime"/>
     <element name="usageCounter" nillable="true" type="xsd:int"/>
     <element name="usageVersion" nillable="true" type="xsd:string"/>
     <element name="usageXmlParams" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Usage2Exception">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:Usage2Exception"/>
   <element name="deleteUsage">
    <complexType>
     <sequence>
      <element name="eduRef" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUsageResponse">
    <complexType>
     <sequence>
      <element name="deleteUsageReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsage">
    <complexType>
     <sequence>
      <element name="eduRef" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsageResponse">
    <complexType>
     <sequence>
      <element name="getUsageReturn" type="impl:Usage2Result"/>
     </sequence>
    </complexType>
   </element>
   <element name="setUsage">
    <complexType>
     <sequence>
      <element name="eduRef" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="lmsId" type="xsd:string"/>
      <element name="courseId" type="xsd:string"/>
      <element name="userMail" type="xsd:string"/>
      <element name="fromUsed" type="xsd:dateTime"/>
      <element name="toUsed" type="xsd:dateTime"/>
      <element name="distinctPersons" type="xsd:int"/>
      <element name="version" type="xsd:string"/>
      <element name="resourceId" type="xsd:string"/>
      <element name="xmlParams" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setUsageResponse">
    <complexType>
     <sequence>
      <element name="setUsageReturn" type="impl:Usage2Result"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUsageRequest">

      <wsdl:part element="impl:getUsage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsageResponse">

      <wsdl:part element="impl:getUsageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsagesByEduRefRequest">

      <wsdl:part element="impl:getUsagesByEduRef" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getUsagesByEduRefResponse">

      <wsdl:part element="impl:getUsagesByEduRefResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setUsageResponse">

      <wsdl:part element="impl:setUsageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deleteUsageResponse">

      <wsdl:part element="impl:deleteUsageResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deleteUsageRequest">

      <wsdl:part element="impl:deleteUsage" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="Usage2Exception">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="setUsageRequest">

      <wsdl:part element="impl:setUsage" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Usage2">

      <wsdl:operation name="getUsagesByEduRef">

         <wsdl:input message="impl:getUsagesByEduRefRequest" name="getUsagesByEduRefRequest"/>

         <wsdl:output message="impl:getUsagesByEduRefResponse" name="getUsagesByEduRefResponse"/>

         <wsdl:fault message="impl:Usage2Exception" name="Usage2Exception"/>

      </wsdl:operation>

      <wsdl:operation name="deleteUsage">

         <wsdl:input message="impl:deleteUsageRequest" name="deleteUsageRequest"/>

         <wsdl:output message="impl:deleteUsageResponse" name="deleteUsageResponse"/>

         <wsdl:fault message="impl:Usage2Exception" name="Usage2Exception"/>

      </wsdl:operation>

      <wsdl:operation name="getUsage">

         <wsdl:input message="impl:getUsageRequest" name="getUsageRequest"/>

         <wsdl:output message="impl:getUsageResponse" name="getUsageResponse"/>

         <wsdl:fault message="impl:Usage2Exception" name="Usage2Exception"/>

      </wsdl:operation>

      <wsdl:operation name="setUsage">

         <wsdl:input message="impl:setUsageRequest" name="setUsageRequest"/>

         <wsdl:output message="impl:setUsageResponse" name="setUsageResponse"/>

         <wsdl:fault message="impl:Usage2Exception" name="Usage2Exception"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="usage2SoapBinding" type="impl:Usage2">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUsagesByEduRef">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsagesByEduRefRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsagesByEduRefResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Usage2Exception">

            <wsdlsoap:fault name="Usage2Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deleteUsage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Usage2Exception">

            <wsdlsoap:fault name="Usage2Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUsage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Usage2Exception">

            <wsdlsoap:fault name="Usage2Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUsage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUsageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setUsageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="Usage2Exception">

            <wsdlsoap:fault name="Usage2Exception" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Usage2Service">

      <wsdl:port binding="impl:usage2SoapBinding" name="usage2">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/usage2"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
