Backend/services/soap/webapp/src/main/webapp/wsdl/authbyapp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://authbyapp.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://authbyapp.webservices.edu_sharing.org" xmlns:intf="http://authbyapp.webservices.edu_sharing.org" xmlns:tns2="http://authentication.webservices.edu_sharing.org" xmlns:tns3="http://lang.java" xmlns:tns4="http://types.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://authbyapp.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <import namespace="http://types.webservices.edu_sharing.org"/>
   <import namespace="http://authentication.webservices.edu_sharing.org"/>
   <element name="checkTicket">
    <complexType>
     <sequence>
      <element name="ticket" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkTicketResponse">
    <complexType>
     <sequence>
      <element name="checkTicketReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns2:AuthenticationException"/>
   <element name="authenticateByTrustedApp">
    <complexType>
     <sequence>
      <element name="applicationId" type="xsd:string"/>
      <element maxOccurs="unbounded" name="ssoData" type="tns4:KeyValue"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateByTrustedAppResponse">
    <complexType>
     <sequence>
      <element name="authenticateByTrustedAppReturn" type="tns2:AuthenticationResult"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://authentication.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <import namespace="http://types.webservices.edu_sharing.org"/>
   <complexType name="AuthenticationException">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="AuthenticationResult">
    <sequence>
     <element name="courseId" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="givenname" nillable="true" type="xsd:string"/>
     <element name="sessionid" nillable="true" type="xsd:string"/>
     <element name="surname" nillable="true" type="xsd:string"/>
     <element name="ticket" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://types.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <import namespace="http://authentication.webservices.edu_sharing.org"/>
   <complexType name="KeyValue">
    <sequence>
     <element name="key" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkTicketRequest">

      <wsdl:part element="impl:checkTicket" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="AuthenticationException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="checkTicketResponse">

      <wsdl:part element="impl:checkTicketResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="authenticateByTrustedAppRequest">

      <wsdl:part element="impl:authenticateByTrustedApp" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="authenticateByTrustedAppResponse">

      <wsdl:part element="impl:authenticateByTrustedAppResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="AuthByApp">

      <wsdl:operation name="checkTicket">

         <wsdl:input message="impl:checkTicketRequest" name="checkTicketRequest"/>

         <wsdl:output message="impl:checkTicketResponse" name="checkTicketResponse"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

      <wsdl:operation name="authenticateByTrustedApp">

         <wsdl:input message="impl:authenticateByTrustedAppRequest" name="authenticateByTrustedAppRequest"/>

         <wsdl:output message="impl:authenticateByTrustedAppResponse" name="authenticateByTrustedAppResponse"/>

         <wsdl:fault message="impl:AuthenticationException" name="AuthenticationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="authbyappSoapBinding" type="impl:AuthByApp">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkTicket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkTicketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkTicketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="authenticateByTrustedApp">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateByTrustedAppRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateByTrustedAppResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="AuthenticationException">

            <wsdlsoap:fault name="AuthenticationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthByAppService">

      <wsdl:port binding="impl:authbyappSoapBinding" name="authbyapp">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/authbyapp"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
