Backend/webservices/wsdl/crud.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://crud.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://crud.webservices.edu_sharing.org" xmlns:intf="http://crud.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://crud.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="update">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="ticket" type="xsd:string"/>
      <element name="nodeType" type="xsd:string"/>
      <element name="repositoryId" type="xsd:string"/>
      <element name="nodeId" type="xsd:string"/>
      <element name="properties" type="apachesoap:Map"/>
      <element name="content" type="xsd:base64Binary"/>
      <element name="icon" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="create">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="ticket" type="xsd:string"/>
      <element name="nodeType" type="xsd:string"/>
      <element name="repositoryId" type="xsd:string"/>
      <element name="properties" type="apachesoap:Map"/>
      <element name="content" type="xsd:base64Binary"/>
      <element name="icon" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Crud">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest"/>

         <wsdl:output message="impl:updateResponse" name="updateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest"/>

         <wsdl:output message="impl:createResponse" name="createResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="crudSoapBinding" type="impl:Crud">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CrudService">

      <wsdl:port binding="impl:crudSoapBinding" name="crud">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/crud"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
