Backend/webservices/wsdl/ShibbolethLogoutNotification.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://slo.shibboleth.webservices.edu_sharing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://slo.shibboleth.webservices.edu_sharing.org" xmlns:intf="http://slo.shibboleth.webservices.edu_sharing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://slo.shibboleth.webservices.edu_sharing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="logoutNotification">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="sessionID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="logoutNotificationResponse">
    <complexType>
     <sequence>
      <element name="logoutNotificationReturn" type="impl:OKType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="OKType">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="logoutNotificationRequest">

      <wsdl:part element="impl:logoutNotification" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="logoutNotificationResponse">

      <wsdl:part element="impl:logoutNotificationResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="LogoutNotification">

      <wsdl:operation name="logoutNotification">

         <wsdl:input message="impl:logoutNotificationRequest" name="logoutNotificationRequest"/>

         <wsdl:output message="impl:logoutNotificationResponse" name="logoutNotificationResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LogoutNotificationSoapBinding" type="impl:LogoutNotification">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="logoutNotification">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutNotificationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="logoutNotificationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LogoutNotificationService">

      <wsdl:port binding="impl:LogoutNotificationSoapBinding" name="LogoutNotification">

         <wsdlsoap:address location="http://localhost:8080/edu-sharing/services/LogoutNotification"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
